 @import url('https://fonts.googleapis.com/css?family=Cherry+Swash');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cherry Swash', cursive;
}

.small {
  font-size: small;
}

button.delete {
  height: 20px;
  width: 46px;
  background-color: red;
  color: white;
}