div, ul, li, details, summary {
    padding: 0;
    margin: 0;
    outline: none;
}

nav {
    height: calc(5vh + 2vw);
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 9%;
}

nav > ul {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, auto) .9fr;
    align-items: center;
    background-color: #444;
}

details[open] {
    width: 100%;
}

details ul {
    background-color: #444;
    position: absolute;
    width: 100%;
    padding-top: 2vw;
}

details li {
    border-top: 1px solid grey;
    padding: 5px;
    background-color: inherit;
}

nav > ul li {
    list-style-type: none;
    justify-self: end;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
}

nav > ul > li:first-of-type {
    margin-left: 3vw;
}

nav > ul > li:last-of-type {
    margin-right: 1rem;
    justify-self: initial;
    padding: 0;
}

@media (max-width: 640px) {

    nav > ul {
        grid-template-columns: repeat(5, auto) 0fr; /* gets rid of extra space-swallowing cell*/
    }
}

nav li:hover {
    background-color: #343232
}

nav a {
    text-decoration: none;
}

nav li a, nav details {
    color: #bfbfbf
}